.button {
  border-radius: 0;
  border: 2px solid var(--mainColor);
  transition: 0.2s ease all;
  box-shadow: none;
  display: block;
  width: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  }

  & .card {
    box-shadow: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    overflow: auto !important;

    & > div {
      padding-top: 20px;
      padding-bottom: 20px;

      & p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
